/* CONTACTO */
.div_contact{
    background-color: rgba(202, 196, 204, 0.69);
    border: solid 04px rgba(69, 67, 70, 0.437);
    border-radius: 10px;
}

.btn_send{
    background-color: rgb(240, 234, 0);
}

.btn_reboot{
    background-color: rgb(255, 81, 47);
}

#exampleFormControlTextarea1{
    resize: none;
}