/* CONTACTO */
.div_contact {
    background-color: rgba(202, 196, 204, 0.69);
    border: map-get($borders, borderContact);
    border-radius: map-get($borders, borderRadiusContact);

    #exampleFormControlTextarea1 {
        resize: none;
    }

    .btn_send {
        @include buttons(rgb(240, 234, 0))
    }

    .btn_reboot {
        @include buttons(rgb(240, 0, 112))
    }
}