/* HEADER */
.navbar {
    .navbar-brand {
        font-size: 28px;

        &:hover {
            color: map-get($links, linksHover);
        }

        .icon {
            width: 50px;
        }
    }

    .nav-item a {
        color: map-get($links, linksColour);
        
        &:hover {
            color: map-get($links, linksHover);
        }
    }
}