/* HEADER */
.navbar {
    .navbar-brand {
        font-size: 28px;

        &:hover {
            color: rgb(240, 152, 25);
        }

        .icon {
            width: 50px;
        }
    }

    .nav-item a {
        color: rgb(255, 255, 255);

        &:hover {
            color: rgb(240, 152, 25);
        }
    }
}