/* INDEX */
.container {
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(69, 67, 70, 0.69);
    }

    .card {
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0.5rem 0.5rem 0.5rem rgba(69, 67, 70, 0.69);
        }

        .btn_index {
            @extend %buttonIndex;
            &:hover {
                background-position: right center;
                color: rgb(255, 255, 255);
                text-decoration: none;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}