/* INDEX */
.container {
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(69, 67, 70, 0.69);
}

.card {
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(69, 67, 70, 0.69);
}

.btn_index {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px rgb(240, 152, 25);
    background-image: linear-gradient(45deg, rgb(255, 81, 47) 0%, rgb(240, 152, 25) 51%, rgb(255, 81, 47) 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn_index:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn_index:active {
    transform: scale(0.95);
}
