$borders: (
    borderRadiusIndex:15px,
    boderButtonIndex:0px,
    borderGuide: solid 03px rgba(69, 67, 70, 0.437),
    borderContact:solid 03px rgba(69, 67, 70, 0.437),
    borderRadiusContact: 10px,
    bordercomp:solid 03px rgba(69, 67, 70, 0.437),
)

