/* BODY */
body {
    font-family: 'Arimo', sans-serif;
    background: rgb(255, 81, 47);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgb(240, 152, 25), rgb(255, 81, 47));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(240, 152, 25), rgb(255, 81, 47));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
