/* FOOTER */
.div_footer{
    ul {
        list-style-type: none;
        li{
            .icon_footer {
                width: 25px;
            }
            a{
                color: map-get($links, linksColour);
                text-decoration: none;
                &:hover {
                    color: map-get($links, linksHover);
                }
            }
            span{
                background:
                linear-gradient(to right,
                    rgb(255, 145, 0),
                    rgb(255, 145, 0)),
                linear-gradient(to right,
                    rgb(240, 234, 0),
                    rgb(240, 152, 25),
                    rgb(255, 81, 47));
            background-size: 100% 3px, 0 3px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
            &:hover {
                background-size: 0 3px, 100% 3px;
            }
            
            }
        }
    }
}



