/* BODY */
.body{
    font-family: 'Merriweather', serif;
}


/* HEADER */
.header1{
    border-bottom: 05px solid #000;
    background-color: rgb(156, 106, 60);
    height: auto;
}

.title_header{
    font-size: 30px;
    color: #ffff;
}

.title_customs{
    color: rgb(255, 166, 0);
}

.nav_list li a{
    color: #ffff;
}
.nav_list li a:hover{
    color: rgb(255, 166, 0);
}

/* MAIN */
.main1{
    background-image: url(../imagenes/background-1.jpg);
}

.div_body{
    height:100vh ;
}
/* FOOTER */
.footer1{
    height: 100px;
    background-color: rgb(156, 106, 60);
    text-align: center;
}

.footer1 ul{
    margin: 05px;
    list-style-type: none;
}

.footer1 ul li a{
    text-decoration: none;
    color: #ffff;
}

.footer1 ul li span{
    color: #ffff;
}
/* INDEX */

.title_index{
    margin: 05px;
    padding: 05px;
    color: rgb(255, 255, 255);
    background-color: rgb(156, 106, 60);
    border: 02px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.articles{
    margin: 05px;
    padding: 10px;
    height: 550px;
    overflow: auto;
    border-radius: 10px;
    border: 02px solid #000;
    background-color: rgb(156, 106, 60);
    color: #ffff;
}

.img_posts{
    width: 200px;
    border-radius: 05px;
    text-align: center;
}

.titulo_post{
    margin: 05px;
    padding: 03px;
    border: 02px solid rgb(0, 0, 0);
    border-radius: 05px;
    background-color: rgb(102, 218, 247);
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.post{
    font-size: 15px;
}

/* GALERIA */
.title_imgs{
    margin-bottom: 100px;
    padding: 05px;
    background-color: rgb(156, 106, 60);
    border: 02px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.carro_back{
    padding: 10px;
    border: 05px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(156, 106, 60);
}
.imgs{
    height: 600px;
    width: 600px;
}

/* NOSOTROS */

.article_us{
    height: 550px;
    overflow: auto;
    border-radius: 10px;
    border: 02px solid #000;
    background-color: rgb(156, 106, 60);
    color: #ffff;
}

/* CONTACTO */

.form_contact{
    background-color: rgb(156, 106, 60);
    border-radius: 10px;
}


.div_articles{
    height: 800px;
    width: 700px;
}